html,
body {
  margin: 0px;
  padding: 0px;
}
#header {
  width: 100%;
  padding: 30px;
  background: black;
  position: fixed;
  z-index: 100;
  border: 1px solid black;
  border-radius: 30px;
  left: 0px;
  color: white;
  font-weight: bold;
}

#sidemenu {
  height: 100%;
  padding: 30px;
  background: gray;
  position: fixed;
  z-index: 99;
  border-right: 5px solid;
  border-radius: 30px;
  top: 8%;
}
table th {
  text-align: center;
}
table #students {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#students td,
#students th {
  border: 1px solid #ddd;
  padding: 8px;
}

#students tr:nth-child(even) {
  background-color: #f2f2f2;
}

#students tr:hover {
  background-color: #ddd;
}

#students th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #218d24;
  color: white;
}

.text-on-pannel {
  background: #fff none repeat scroll 0 0;
  height: auto;
  margin-left: 20px;
  padding: 3px 5px;
  position: absolute;
  margin-top: -47px;
  border: 1px solid #337ab7;
  border-radius: 8px;
}

.panel {
  /* for text on pannel */
  margin-top: 27px !important;
}

.panel-body {
  padding-top: 30px !important;
}
